[Unit]
Description=Polybot Telegram Bot Service
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/PolybotServicePython
Environment="TELEGRAM_BOT_TOKEN=8174657275:AAF03Y8Q3p2SDfSI4ijtiZc7YCiwzpASEtw"
Environment="YOLO_SERVICE_URL=http://10.0.1.143:8080"
Environment="BOT_APP_URL=https://minnow-crucial-nicely.ngrok-free.app"
Environment="S3_BUCKET_NAME=maisa-polybot-images"
ExecStart=/home/ubuntu/PolybotServicePython/venv/bin/python3 -m polybot.app --port 8443
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target


