[Unit]
Description=Polybot Telegram Bot Dev Service
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/PolybotServicePython
Environment="TELEGRAM_BOT_TOKEN=7709145324:AAG9ZaM1wtZ-K-HDlYrVz_8p4QUD9NExsks"
Environment="YOLO_SERVICE_URL=http://10.0.1.17:8080"
Environment="BOT_APP_URL=https://loosely-coherent-lacewing.ngrok-free.app"
Environment="S3_BUCKET_NAME=maisa-dev-bucket"
ExecStart=/home/ubuntu/PolybotServicePython/venv/bin/python3 -m polybot.app
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
